body {
    margin: 0px 0px;
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Ubuntu', sans-serif;
    
}

.logo{
    width: 300px;
    height: 10vh;
    background: #778103;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 64% 100%, 0% 100%);
    padding: 10px;
    line-height: 1.3rem;
}
.logo p{
    width: 130px;
    margin-left: 10px;
    font-size: 20px;
}
.logo .fas{
    font-size: 50px;
}

.nav {
    position: fixed;
    background-color: #0c0c0c;
    width: 100%;
    margin: 0px 0px;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
}

.nav ul {
    overflow: auto;
    margin: 0px 0px;
}

.nav li {
    float: left;
    list-style: none;
    margin: 10px 15px;
}

.nav li a {
    text-decoration: none;
    font-size: medium;
    color: rgb(255, 255, 255);

}

.nav li a:hover {
    color: red;
}

.search-user{
    display: flex;
    position: absolute;
    right: 40px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0px;
}

.search{
    margin-top: -16px;
    margin-right: 5px;
}

.search input {
    padding: 3px 3px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    width: 200px;
    border-style: none;
    padding: 3px 3px;
}

.second{
    margin: 115px 0px;
    margin-bottom: 0px;
    margin-left: 40px;
}

#movieposter {
    position: absolute;
    width: 100%;
    z-index: -2;
    height: 1000px;
}

#black{
    z-index: -1;
    position: absolute;
    height: 825px;
}

#movielogo {
    z-index: 1;
    width: 620px;
    margin-top: 150px;
    margin-left: 40px;
    visibility: hidden;
}

#aboutmovie{
    width: 600px;
    color: white;
    margin-left: 40px;
    margin-top: 165px;
}

#playit{
    background-color: rgb(254, 6, 6);
    color: white;
    padding: 7px 40px;
    margin-left: 40px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
}

.listtut{
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-top:450px;
}

.listtut img{
    width: 350px;
    height: 230px;
    margin: 29px;
    border-style: none;
    padding: 0px 0px;
    outline: none;
    outline-style: none;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.listmovies img:hover{
    cursor: pointer;
    transform: scale(1.5);
}